.App {
    color: #363636;
    font-family: 'Oxygen',
    sans-serif;
    font-weight: 700;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F1F0;
    margin: 0;
    padding: 0;
}

.search_container {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin: 20px;
}

.pokemon-container {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin: 20px;
}

.pokemon-data {

}

.basic-data {
    display: flex;
    flex-direction: row;
    background-color: pink;
}

.image-container {
    flex:1;
}
.status-container {
    flex: 2;
    flex-direction: colomn;
    background-color: yellow;
}

.status {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

.status-details {
    font-weight: 400;
}
